@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #f5e8d7;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    --max-width: 1200px;
    --container-padding: 2rem;

    width: min(var(--max-width), 100% - (var(--container-padding)*2));
    margin-inline: auto;
}

header {
    background-color: #b97a57;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.4em;
    background-color: #b97a57;
    align-items: center;
}

.icon-logo {
    max-width: 3rem;
}

.title-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-logo h1 {
    font-size: 1rem;
}

.search-box {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2rem;
}

@media (max-width: 50em) {
    .search-box {
      display: none;
    }
  }

.search-box input {
    background: transparent;
    outline: none;
    border: none;
    color: white;
    padding: 0.5em 0.8em;
}

.search-box > i {
    font-size: 1.5rem;
    color: white;
  }

.search-box input::placeholder {
    color: rgba(255, 255, 255, 0.721);
  }

.upload-box {
    border: 1px solid white;
}

.upload-box button {
    cursor: pointer;
    background-color: transparent;
    padding: 0.2em 0.8em;
    font-weight: 700;
}

.upload-box button i {
    vertical-align: middle;
    margin-bottom: 3px;
    font-size: 1.9rem;
    margin-right: 0.2em;
}



img {
    margin-inline: auto;
}

.icon {
    max-width: 2rem;
}

button {
    display: inline-block;
    
}

.container-doggo {
    max-width: 450px;
}

.container-image {
    background-color: #b97a57;
    border: lightgray 1px solid;
    border-radius: 15px;
    margin-block: 3em;
    padding-bottom: 0.6em;
    box-shadow: 0 0 2px 2px rgb(51, 51, 51);
}

.container-actions {
    display: flex;
    justify-content: space-between;
    padding-inline: 1em;
    align-items: center;
}

.dog-user {
    padding-inline: 0.3em;
    display: inline-flex;
    margin-block: 1em;
    gap: 0.4em;
    align-items: center;
}

.dog-user p {
    font-weight: 700;
    font-size: 2rem;
}

.profile-pic {
    max-width: 40px;
    aspect-ratio: 1;
    border-radius: 100vh;
}

.dog-image {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    aspect-ratio: 1;
}

.container-comment {
    overflow-y: auto;
    max-height: 40px;
    padding: 1em 0.8em;
    background-color: #9f694c;
    margin-bottom: 0.5em;
}

.container-comment p {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    border-bottom: 1px rgb(251, 191, 191) solid;
}

.span-user {
    font-weight: 650;
}


.span-time {
    font-style: italic;
    color: rgb(203, 184, 184);
}


.message-container {
    display: flex;
    align-items: center;
}

.message-container span {
    padding-top: 0.5em;
}

svg {
    max-width: 2.6rem;
}

.like-btn {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

.textBox {
    padding-bottom: 0.5em;
    min-width: max-content;
    background-color: transparent ;
    outline: none;  
    border: none;
    border-bottom: 1px solid white; 
    color: white;
    margin-right: 1.3em;
}

.textBox::placeholder{
    color: rgba(255, 255, 255, 0.704);
}

.get-more-btn{
    color: white ;
    border: 1px solid white;
}

